<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warrior.hangsu.administrator.strangerbookreader">
    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 在SDCard中创建与删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 权限 -->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/owl_icon_256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".business.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.read.ReadActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".business.read.NewReadActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".business.test.TestActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".business.wordsbook.WordsBookActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".business.statistic.StatisticsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".business.statistic.CalendarStatisticsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".business.login.LoginActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".business.login.RegisterActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".business.other.AboutActivity"
            android:launchMode="standard"></activity>
        <activity
            android:name=".business.other.FeedbackActivity"
            android:launchMode="standard"></activity>
        <activity
            android:name=".business.ad.AdvertisingActivity"
            android:launchMode="standard"></activity>
    </application>

</manifest>
